<div class="p-5">
 <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Nome: string</div>
            <p class="text-gray-700 text-base">string</p>
            
            <p class="text-gray-700 text-base">Cidade: string</p>
            <p class="text-gray-700 text-base">País: string</p>
        </div>
        <div class="flex justify-between p-6 items-center">
            <div>
                <p class="text-gray-700 text-base">R$ 0</p>
            </div>
            <button mat-raised-button color="primary" (click)="checkout('teste')">
                Reservar agora
            </button>
        </div>
    </div>
</div>