<div class="flex w-full h-lvh">

    <div class="w-full flex justify-center" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div class="w-1/2 p-4 flex flex-col justify-start"  *ngIf="!loading">
        <h1 class="text-2xl font-bold">Finalizar Compra</h1>
        <p class="text-gray-500">Preencha os campos abaixo para finalizar a compra</p>
        <form [formGroup]="form" class="space-y-4 flex flex-col w-full mt-2">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error *ngIf="this.form.get('name')?.errors">Nome invalido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-error *ngIf="this.form.get('email')?.errors">Email invalido</mat-error>
            </mat-form-field>
    
            <button mat-raised-button color="primary" (click)="checkout()" [disabled]="disabled" >Finalizar Compra</button>
        </form>
    </div>

    <div class="w-1/2 p-4  flex flex-col justify-start"  *ngIf="!loading">
        <!-- <h1 class="text-2xl font-bold">Destino</h1> -->

    <div class="rounded overflow-hidden shadow-lg bg-white w-full"  *ngIf="!loading">

            <div class="w-full flex justify-center">
                <img [src]="product.images[0]"  class="h-[300px] object-cover" >
            </div>

            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ product.name }}</div>
                <p class="text-gray-700 text-base">{{ product.description }}</p>
                <p class="text-gray-700 text-base mt-10">{{ product.location.city }}</p>
                <p class="text-gray-700 text-base">{{ product.location.country }}</p>

                <p class="text-gray-700 text-2xl mt-10">{{ product.price | currency : 'BRL' }}</p>
            </div>

            <div class="px-6 py-4">
                <h2 class="font-bold text-xl mb-2">Feedbacks</h2>
                <div *ngFor="let feedback of product.feedbacks" class="mb-4 border-b border-gray-200 pb-4">
                    <p class="text-gray-700 text-base">Comentário: {{ feedback.comment }}</p>
                    <div class="flex items-center">
                        <span class="text-gray-700 text-base mr-2">Avaliação:</span>
                        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                            <mat-icon *ngIf="i < feedback.rating" class="text-yellow-500">star</mat-icon>
                            <mat-icon *ngIf="i >= feedback.rating" class="text-gray-300">star</mat-icon>
                        </ng-container>
                    </div>
                </div>
            </div>
</div>